<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row mt-5">
            <div class="col-7 login-left">
            </div>
            <div class="col-5 mt-2">
                <div>
                    <% if(errors != "") { %>
                        <% errors.forEach((item) => { %>
                            <div class="alert alert-danger">
                                <%- item %>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>

                <hr>
                <div>
                    If you haven't had an account. <a href="/register">Create a new account</a>.
                </div>
                <div>
                    Return to <a href="/">Home Page</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
</body>
</html> -->


<form id="xmlForm">
    <div class="attr-detail attr-size mb-30">
        <strong class="mr-10">Size / Weight: </strong>
        <ul class="list-filter size-filter font-small">
            <li><a href="#">50g</a></li>
            <li class="active"><a href="#">60g</a></li>
            <li><a href="#">80g</a></li>
            <li><a href="#">100g</a></li>
            <li><a href="#">150g</a></li>
        </ul>
    </div>
    <div class="detail-extralink mb-50">
        <div class="detail-qty border radius">
            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
            <input type="text" name="quantity" class="qty-val" value="1" min="1">
            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
        </div>
        <div class="product-extra-link2">
            <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
            <a aria-label='Add To Wishlist' class='action-btn hover-up' href='shop-wishlist'><i class="fi-rs-heart"></i></a>
            <a aria-label='Compare' class='action-btn hover-up' href='shop-compare'><i class="fi-rs-shuffle"></i></a>
        </div>
    </div>
</form>


<script>
    document.getElementById('xmlForm').addEventListener('submit', function(e) {
        e.preventDefault(); // Ngăn không cho form submit theo cách thông thường

        let quantityVal = document.querySelector('input[name="quantity"]').value

        var xmlData = <productId>1</productId><quantity>${quantityVal}</quantity>;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/shop-cart/add", true);
        xhr.setRequestHeader('Content-Type', 'text/xml');
        xhr.send(xmlData);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log('Response:', xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                window.location.href = response.redirectUrl; 
            } else {
                console.error('Request failed');
            }
        };
    });
</script>