<header class="header-area header-style-1 header-height-2">
    <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><a href="page-about">About Us</a></li>
                            <li><a href='page-account'>My Account</a></li>
                            <li><a href='shop-wishlist'>Wishlist</a></li>
                            <li><a href="shop-order">Order Tracking</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>100% Secure delivery without contacting the courier</li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>Need help? Call Us: <strong class="text-brand"> + 1800 900</strong></li>
                            <li>
                                <a class="language-dropdown-active" href="#">English <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-fr.png" alt="" />Français</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-dt.png" alt="" />Deutsch</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-ru.png" alt="" />Pусский</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="language-dropdown-active" href="#">USD <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-fr.png" alt="" />INR</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-dt.png" alt="" />MBP</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-ru.png" alt="" />EU</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                          <form action="/product/search" method="GET">
                            <select class="select-active">
                              <option>All Categories</option>
                              <option>Milks and Dairies</option>
                              <option>Wines & Alcohol</option>
                              <option>Clothing & Beauty</option>
                              <option>Pet Foods & Toy</option>
                              <option>Fast food</option>
                              <option>Baking material</option>
                              <option>Vegetables</option>
                              <option>Fresh Seafood</option>
                              <option>Noodles & Rice</option>
                              <option>Ice cream</option>
                            </select>
                            <input name="name" type="text" placeholder="Search for items..." />
                          </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="search-location">
                                <form action="#">
                                    <select class="select-active">
                                        <option>Your Location</option>
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>Arizona</option>
                                        <option>Delaware</option>
                                        <option>Florida</option>
                                        <option>Georgia</option>
                                        <option>Hawaii</option>
                                        <option>Indiana</option>
                                        <option>Maryland</option>
                                        <option>Nevada</option>
                                        <option>New Jersey</option>
                                        <option>New Mexico</option>
                                        <option>New York</option>
                                    </select>
                                </form>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='shop-compare'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-compare.svg" />
                                    <span class="pro-count blue">3</span>
                                </a>
                                <a href='shop-compare'><span class="lable ml-0">Compare</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='shop-wishlist'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count blue">6</span>
                                </a>
                                <a href='shop-wishlist'><span class="lable">Wishlist</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class='mini-cart-icon' href='shop-cart'>
                                    <img alt="Nest" src="imgs/theme/icons/icon-cart.svg" />
                                    <span class="pro-count blue">2</span>
                                </a>
                                <a href='shop-cart'><span class="lable">Cart</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-3.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='shop-product-right'>Daisy Casual Bag</a></h4>
                                                <h4><span>1 × </span>$800.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-2.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='shop-product-right'>Corduroy Shirts</a></h4>
                                                <h4><span>1 × </span>$3200.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$4000.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a class='outline' href='shop-cart'>View cart</a>
                                            <a href='shop-checkout'>Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='page-account'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-user.svg" />
                                </a>
                                <a href='page-account'><span class="lable ml-0">Account</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li>
                                            <a href='page-account'><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                        </li>
                                        <li>
                                            <a href='page-account'><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a>
                                        </li>
                                        <li>
                                            <a href='page-account'><i class="fi fi-rs-label mr-10"></i>My Voucher</a>
                                        </li>
                                        <li>
                                            <a href='shop-wishlist'><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                        </li>
                                        <li>
                                            <a href='page-account'><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                        </li>
                                        <li>
                                            <a href='page-login'><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categories-button-active" href="#">
                            <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories
                            <i class="fi-rs-angle-down"></i>
                        </a>
                        <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                            <div class="d-flex categori-dropdown-inner">
                                <ul>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-1.svg" alt="" />Milks and Dairies</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-2.svg" alt="" />Clothing & beauty</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-3.svg" alt="" />Pet Foods & Toy</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-4.svg" alt="" />Baking material</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-5.svg" alt="" />Fresh Fruit</a>
                                    </li>
                                </ul>
                                <ul class="end">
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-6.svg" alt="" />Wines & Drinks</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-7.svg" alt="" />Fresh Seafood</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-8.svg" alt="" />Fast food</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-9.svg" alt="" />Vegetables</a>
                                    </li>
                                    <li>
                                        <a href='shop-grid-right'> <img src="imgs/theme/icons/category-10.svg" alt="" />Bread and Juice</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="more_slide_open" style="display: none">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href='shop-grid-right'> <img src="imgs/theme/icons/icon-1.svg" alt="" />Milks and Dairies</a>
                                        </li>
                                        <li>
                                            <a href='shop-grid-right'> <img src="imgs/theme/icons/icon-2.svg" alt="" />Clothing & beauty</a>
                                        </li>
                                    </ul>
                                    <ul class="end">
                                        <li>
                                            <a href='shop-grid-right'> <img src="imgs/theme/icons/icon-3.svg" alt="" />Wines & Drinks</a>
                                        </li>
                                        <li>
                                            <a href='shop-grid-right'> <img src="imgs/theme/icons/icon-4.svg" alt="" />Fresh Seafood</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                        <nav>
                            <ul>
                                <li class="hot-deals"><img src="imgs/theme/icons/icon-hot.svg" alt="hot deals" /><a href='shop-grid-right'>Deals</a></li>
                                <li>
                                    <a class='active' href='index'>Home <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='index'>Home 1</a></li>
                                        <li><a href='index-2'>Home 2</a></li>
                                        <li><a href='index-3'>Home 3</a></li>
                                        <li><a href='index-4'>Home 4</a></li>
                                        <li><a href='index-5'>Home 5</a></li>
                                        <li><a href='index-6'>Home 6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='page-about-2'>About</a>
                                </li>
                                <li>
                                    <a href='shop-grid-right'>Shop <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='shop-grid-right'>Shop Grid – Right Sidebar</a></li>
                                        <li><a href='shop-grid-left'>Shop Grid – Left Sidebar</a></li>
                                        <li><a href='shop-list-right'>Shop List – Right Sidebar</a></li>
                                        <li><a href='shop-list-left'>Shop List – Left Sidebar</a></li>
                                        <li><a href='shop-fullwidth'>Shop - Wide</a></li>
                                        <li>
                                            <a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu">
                                                <li><a href='shop-product-right'>Product – Right Sidebar</a></li>
                                                <li><a href='shop-product-left'>Product – Left Sidebar</a></li>
                                                <li><a href='shop-product-full'>Product – No sidebar</a></li>
                                                <li><a href='shop-product-vendor'>Product – Vendor Infor</a></li>
                                            </ul>
                                        </li>
                                        <li><a href='shop-filter'>Shop – Filter</a></li>
                                        <li><a href='shop-wishlist'>Shop – Wishlist</a></li>
                                        <li><a href='shop-cart'>Shop – Cart</a></li>
                                        <li><a href='shop-checkout'>Shop – Checkout</a></li>
                                        <li><a href='shop-compare'>Shop – Compare</a></li>
                                        <li>
                                            <a href="#">Shop Invoice<i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu">
                                                <li><a href='shop-invoice-1'>Shop Invoice 1</a></li>
                                                <li><a href='shop-invoice-2'>Shop Invoice 2</a></li>
                                                <li><a href='shop-invoice-3'>Shop Invoice 3</a></li>
                                                <li><a href='shop-invoice-4'>Shop Invoice 4</a></li>
                                                <li><a href='shop-invoice-5'>Shop Invoice 5</a></li>
                                                <li><a href='shop-invoice-6'>Shop Invoice 6</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Vendors <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='vendors-grid'>Vendors Grid</a></li>
                                        <li><a href='vendors-list'>Vendors List</a></li>
                                        <li><a href='vendor-details-1'>Vendor Details 01</a></li>
                                        <li><a href='vendor-details-2'>Vendor Details 02</a></li>
                                        <li><a href='vendor-dashboard'>Vendor Dashboard</a></li>
                                        <li><a href='vendor-guide'>Vendor Guide</a></li>
                                    </ul>
                                </li>
                                <li class="position-static">
                                    <a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Fruit & Vegetables</a>
                                            <ul>
                                                <li><a href='shop-product-right'>Meat & Poultry</a></li>
                                                <li><a href='shop-product-right'>Fresh Vegetables</a></li>
                                                <li><a href='shop-product-right'>Herbs & Seasonings</a></li>
                                                <li><a href='shop-product-right'>Cuts & Sprouts</a></li>
                                                <li><a href='shop-product-right'>Exotic Fruits & Veggies</a></li>
                                                <li><a href='shop-product-right'>Packaged Produce</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Breakfast & Dairy</a>
                                            <ul>
                                                <li><a href='shop-product-right'>Milk & Flavoured Milk</a></li>
                                                <li><a href='shop-product-right'>Butter and Margarine</a></li>
                                                <li><a href='shop-product-right'>Eggs Substitutes</a></li>
                                                <li><a href='shop-product-right'>Marmalades</a></li>
                                                <li><a href='shop-product-right'>Sour Cream</a></li>
                                                <li><a href='shop-product-right'>Cheese</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Meat & Seafood</a>
                                            <ul>
                                                <li><a href='shop-product-right'>Breakfast Sausage</a></li>
                                                <li><a href='shop-product-right'>Dinner Sausage</a></li>
                                                <li><a href='shop-product-right'>Chicken</a></li>
                                                <li><a href='shop-product-right'>Sliced Deli Meat</a></li>
                                                <li><a href='shop-product-right'>Wild Caught Fillets</a></li>
                                                <li><a href='shop-product-right'>Crab and Shellfish</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href='shop-product-right'><img src="imgs/banner/banner-menu.png" alt="Nest" /></a>
                                                <div class="menu-banner-content">
                                                    <h4>Hot deals</h4>
                                                    <h3>
                                                        Don't miss<br />
                                                        Trending
                                                    </h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">Save to 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href='shop-product-right'>Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>25%</span>
                                                        off
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='blog-category-grid'>Blog <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='blog-category-grid'>Blog Category Grid</a></li>
                                        <li><a href='blog-category-list'>Blog Category List</a></li>
                                        <li><a href='blog-category-big'>Blog Category Big</a></li>
                                        <li><a href='blog-category-fullwidth'>Blog Category Wide</a></li>
                                        <li>
                                            <a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                            <ul class="level-menu level-menu-modify">
                                                <li><a href='blog-post-left'>Left Sidebar</a></li>
                                                <li><a href='blog-post-right'>Right Sidebar</a></li>
                                                <li><a href='blog-post-fullwidth'>No Sidebar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href='page-about-2'>About Us</a></li>
                                        <li><a href='page-contact'>Contact</a></li>
                                        <li><a href='page-account'>My Account</a></li>
                                        <li><a href='page-login'>Login</a></li>
                                        <li><a href='page-register'>Register</a></li>
                                        <li><a href='page-forgot-password'>Forgot password</a></li>
                                        <li><a href='page-reset-password'>Reset password</a></li>
                                        <li><a href='page-purchase-guide'>Purchase Guide</a></li>
                                        <li><a href='page-privacy-policy'>Privacy Policy</a></li>
                                        <li><a href='page-terms'>Terms of Service</a></li>
                                        <li><a href='page-404'>404 Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href='page-contact'>Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-flex">
                    <img src="imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                    <p>1900 - 888<span>24/7 Support Center</span></p>
                </div>
                <div class="header-action-icon-2 d-block d-lg-none">
                    <div class="burger-icon burger-icon-white">
                        <span class="burger-icon-top"></span>
                        <span class="burger-icon-mid"></span>
                        <span class="burger-icon-bottom"></span>
                    </div>
                </div>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href='shop-wishlist'>
                                <img alt="Nest" src="imgs/theme/icons/icon-heart.svg" />
                                <span class="pro-count white">4</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class='mini-cart-icon' href='shop-cart'>
                                <img alt="Nest" src="imgs/theme/icons/icon-cart.svg" />
                                <span class="pro-count white">2</span>
                            </a>
                            <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-3.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href='shop-product-right'>Plain Striola Shirts</a></h4>
                                            <h3><span>1 × </span>$800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-4.jpg" /></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href='shop-product-right'>Macbook Pro 2024</a></h4>
                                            <h3><span>1 × </span>$3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Total <span>$383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href='shop-cart'>View cart</a>
                                        <a href='shop-checkout'>Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…" />
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href='index'>Home</a>
                            <ul class="dropdown">
                                <li><a href='index'>Home 1</a></li>
                                <li><a href='index-2'>Home 2</a></li>
                                <li><a href='index-3'>Home 3</a></li>
                                <li><a href='index-4'>Home 4</a></li>
                                <li><a href='index-5'>Home 5</a></li>
                                <li><a href='index-6'>Home 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href='shop-grid-right'>shop</a>
                            <ul class="dropdown">
                                <li><a href='shop-grid-right'>Shop Grid – Right Sidebar</a></li>
                                <li><a href='shop-grid-left'>Shop Grid – Left Sidebar</a></li>
                                <li><a href='shop-list-right'>Shop List – Right Sidebar</a></li>
                                <li><a href='shop-list-left'>Shop List – Left Sidebar</a></li>
                                <li><a href='shop-fullwidth'>Shop - Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Product – Right Sidebar</a></li>
                                        <li><a href='shop-product-left'>Product – Left Sidebar</a></li>
                                        <li><a href='shop-product-full'>Product – No sidebar</a></li>
                                        <li><a href='shop-product-vendor'>Product – Vendor Infor</a></li>
                                    </ul>
                                </li>
                                <li><a href='shop-filter'>Shop – Filter</a></li>
                                <li><a href='shop-wishlist'>Shop – Wishlist</a></li>
                                <li><a href='shop-cart'>Shop – Cart</a></li>
                                <li><a href='shop-checkout'>Shop – Checkout</a></li>
                                <li><a href='shop-compare'>Shop – Compare</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Invoice</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-invoice-1'>Shop Invoice 1</a></li>
                                        <li><a href='shop-invoice-2'>Shop Invoice 2</a></li>
                                        <li><a href='shop-invoice-3'>Shop Invoice 3</a></li>
                                        <li><a href='shop-invoice-4'>Shop Invoice 4</a></li>
                                        <li><a href='shop-invoice-5'>Shop Invoice 5</a></li>
                                        <li><a href='shop-invoice-6'>Shop Invoice 6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Vendors</a>
                            <ul class="dropdown">
                                <li><a href='vendors-grid'>Vendors Grid</a></li>
                                <li><a href='vendors-list'>Vendors List</a></li>
                                <li><a href='vendor-details-1'>Vendor Details 01</a></li>
                                <li><a href='vendor-details-2'>Vendor Details 02</a></li>
                                <li><a href='vendor-dashboard'>Vendor Dashboard</a></li>
                                <li><a href='vendor-guide'>Vendor Guide</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children">
                                    <a href="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Dresses</a></li>
                                        <li><a href='shop-product-right'>Blouses & Shirts</a></li>
                                        <li><a href='shop-product-right'>Hoodies & Sweatshirts</a></li>
                                        <li><a href='shop-product-right'>Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Jackets</a></li>
                                        <li><a href='shop-product-right'>Casual Faux Leather</a></li>
                                        <li><a href='shop-product-right'>Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Gaming Laptops</a></li>
                                        <li><a href='shop-product-right'>Ultraslim Laptops</a></li>
                                        <li><a href='shop-product-right'>Tablets</a></li>
                                        <li><a href='shop-product-right'>Laptop Accessories</a></li>
                                        <li><a href='shop-product-right'>Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href='blog-category-fullwidth'>Blog</a>
                            <ul class="dropdown">
                                <li><a href='blog-category-grid'>Blog Category Grid</a></li>
                                <li><a href='blog-category-list'>Blog Category List</a></li>
                                <li><a href='blog-category-big'>Blog Category Big</a></li>
                                <li><a href='blog-category-fullwidth'>Blog Category Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href='blog-post-left'>Left Sidebar</a></li>
                                        <li><a href='blog-post-right'>Right Sidebar</a></li>
                                        <li><a href='blog-post-fullwidth'>No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href='page-about-2'>About Us</a></li>
                                <li><a href='page-contact'>Contact</a></li>
                                <li><a href='page-account'>My Account</a></li>
                                <li><a href='page-login'>Login</a></li>
                                <li><a href='page-register'>Register</a></li>
                                <li><a href='page-forgot-password'>Forgot password</a></li>
                                <li><a href='page-reset-password'>Reset password</a></li>
                                <li><a href='page-purchase-guide'>Purchase Guide</a></li>
                                <li><a href='page-privacy-policy'>Privacy Policy</a></li>
                                <li><a href='page-terms'>Terms of Service</a></li>
                                <li><a href='page-404'>404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href='page-contact'><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href='page-login'><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Follow Us</h6>
                <a href="#"><img src="imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">Copyright 2024 © Nest. All rights reserved. Powered by AliThemes.</div>
        </div>
    </div>
</div>