<header class="header-area header-style-1 header-height-2">
    <div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><a href="page-about">About Us</a></li>
                            <li><a href='page-account'>My Account</a></li>
                            <li><a href='shop-wishlist'>Wishlist</a></li>
                            <li><a href="shop-order">Order Tracking</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>100% Secure delivery without contacting the courier</li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>Need help? Call Us: <strong class="text-brand"> + 1800 900</strong></li>
                            <li>
                                <a class="language-dropdown-active" href="#">English <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-fr.png" alt="" />Français</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-dt.png" alt="" />Deutsch</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-ru.png" alt="" />Pусский</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="language-dropdown-active" href="#">USD <i class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-fr.png" alt="" />INR</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-dt.png" alt="" />MBP</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="imgs/theme/flag-ru.png" alt="" />EU</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                          <form action="/product/search" method="GET">
                            <select class="select-active">
                              <option>All Categories</option>
                              <option>Milks and Dairies</option>
                              <option>Wines & Alcohol</option>
                              <option>Clothing & Beauty</option>
                              <option>Pet Foods & Toy</option>
                              <option>Fast food</option>
                              <option>Baking material</option>
                              <option>Vegetables</option>
                              <option>Fresh Seafood</option>
                              <option>Noodles & Rice</option>
                              <option>Ice cream</option>
                            </select>
                            <input name="name" type="text" placeholder="Search for items..." />
                          </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="search-location">
                                <form action="#">
                                    <select class="select-active">
                                        <option>Your Location</option>
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>Arizona</option>
                                        <option>Delaware</option>
                                        <option>Florida</option>
                                        <option>Georgia</option>
                                        <option>Hawaii</option>
                                        <option>Indiana</option>
                                        <option>Maryland</option>
                                        <option>Nevada</option>
                                        <option>New Jersey</option>
                                        <option>New Mexico</option>
                                        <option>New York</option>
                                    </select>
                                </form>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='shop-compare'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-compare.svg" />
                                    <span class="pro-count blue">3</span>
                                </a>
                                <a href='shop-compare'><span class="lable ml-0">Compare</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='shop-wishlist'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count blue">6</span>
                                </a>
                                <a href='shop-wishlist'><span class="lable">Wishlist</span></a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class='mini-cart-icon' href='shop-cart'>
                                    <img alt="Nest" src="imgs/theme/icons/icon-cart.svg" />
                                    <span class="pro-count blue">2</span>
                                </a>
                                <a href='shop-cart'><span class="lable">Cart</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-3.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='shop-product-right'>Daisy Casual Bag</a></h4>
                                                <h4><span>1 × </span>$800.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href='shop-product-right'><img alt="Nest" src="imgs/shop/thumbnail-2.jpg" /></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href='shop-product-right'>Corduroy Shirts</a></h4>
                                                <h4><span>1 × </span>$3200.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$4000.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a class='outline' href='shop-cart'>View cart</a>
                                            <a href='shop-checkout'>Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2">
                                <a href='page-account'>
                                    <img class="svgInject" alt="Nest" src="imgs/theme/icons/icon-user.svg" />
                                </a>
                                <a href='page-account'><span class="lable ml-0">Account</span></a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                    <ul>
                                        <li>
                                            <a href='page-account'><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                        </li>
                                        <li>
                                            <a href='product/add'><i class="fi fi-rs-user mr-10"></i>Add Product</a>
                                        </li>
                                        <li>
                                            <a href='product/manage'><i class="fi fi-rs-user mr-10"></i>Manage Product</a>
                                        </li>
                                        <li>
                                            <a href='upload?image=/var/www/html/upload/image.jpg'><i class="fi fi-rs-user mr-10"></i>Upload Product</a>
                                        </li>
                                        <li>
                                            <a href='test?domain=facebook.com'><i class="fi fi-rs-user mr-10"></i>Test Feature</a>
                                        </li>
                                            <a href='page-login'><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href='index'><img src="imgs/theme/logo.svg" alt="logo" /></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…" />
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href='index'>Home</a>
                            <ul class="dropdown">
                                <li><a href='index'>Home 1</a></li>
                                <li><a href='index-2'>Home 2</a></li>
                                <li><a href='index-3'>Home 3</a></li>
                                <li><a href='index-4'>Home 4</a></li>
                                <li><a href='index-5'>Home 5</a></li>
                                <li><a href='index-6'>Home 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href='shop-grid-right'>shop</a>
                            <ul class="dropdown">
                                <li><a href='shop-grid-right'>Shop Grid – Right Sidebar</a></li>
                                <li><a href='shop-grid-left'>Shop Grid – Left Sidebar</a></li>
                                <li><a href='shop-list-right'>Shop List – Right Sidebar</a></li>
                                <li><a href='shop-list-left'>Shop List – Left Sidebar</a></li>
                                <li><a href='shop-fullwidth'>Shop - Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Product – Right Sidebar</a></li>
                                        <li><a href='shop-product-left'>Product – Left Sidebar</a></li>
                                        <li><a href='shop-product-full'>Product – No sidebar</a></li>
                                        <li><a href='shop-product-vendor'>Product – Vendor Infor</a></li>
                                    </ul>
                                </li>
                                <li><a href='shop-filter'>Shop – Filter</a></li>
                                <li><a href='shop-wishlist'>Shop – Wishlist</a></li>
                                <li><a href='shop-cart'>Shop – Cart</a></li>
                                <li><a href='shop-checkout'>Shop – Checkout</a></li>
                                <li><a href='shop-compare'>Shop – Compare</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Invoice</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-invoice-1'>Shop Invoice 1</a></li>
                                        <li><a href='shop-invoice-2'>Shop Invoice 2</a></li>
                                        <li><a href='shop-invoice-3'>Shop Invoice 3</a></li>
                                        <li><a href='shop-invoice-4'>Shop Invoice 4</a></li>
                                        <li><a href='shop-invoice-5'>Shop Invoice 5</a></li>
                                        <li><a href='shop-invoice-6'>Shop Invoice 6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Vendors</a>
                            <ul class="dropdown">
                                <li><a href='vendors-grid'>Vendors Grid</a></li>
                                <li><a href='vendors-list'>Vendors List</a></li>
                                <li><a href='vendor-details-1'>Vendor Details 01</a></li>
                                <li><a href='vendor-details-2'>Vendor Details 02</a></li>
                                <li><a href='vendor-dashboard'>Vendor Dashboard</a></li>
                                <li><a href='vendor-guide'>Vendor Guide</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Mega menu</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children">
                                    <a href="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Dresses</a></li>
                                        <li><a href='shop-product-right'>Blouses & Shirts</a></li>
                                        <li><a href='shop-product-right'>Hoodies & Sweatshirts</a></li>
                                        <li><a href='shop-product-right'>Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Jackets</a></li>
                                        <li><a href='shop-product-right'>Casual Faux Leather</a></li>
                                        <li><a href='shop-product-right'>Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href='shop-product-right'>Gaming Laptops</a></li>
                                        <li><a href='shop-product-right'>Ultraslim Laptops</a></li>
                                        <li><a href='shop-product-right'>Tablets</a></li>
                                        <li><a href='shop-product-right'>Laptop Accessories</a></li>
                                        <li><a href='shop-product-right'>Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href='blog-category-fullwidth'>Blog</a>
                            <ul class="dropdown">
                                <li><a href='blog-category-grid'>Blog Category Grid</a></li>
                                <li><a href='blog-category-list'>Blog Category List</a></li>
                                <li><a href='blog-category-big'>Blog Category Big</a></li>
                                <li><a href='blog-category-fullwidth'>Blog Category Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href='blog-post-left'>Left Sidebar</a></li>
                                        <li><a href='blog-post-right'>Right Sidebar</a></li>
                                        <li><a href='blog-post-fullwidth'>No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href='page-about-2'>About Us</a></li>
                                <li><a href='page-contact'>Contact</a></li>
                                <li><a href='page-account'>My Account</a></li>
                                <li><a href='page-login'>Login</a></li>
                                <li><a href='page-register'>Register</a></li>
                                <li><a href='page-forgot-password'>Forgot password</a></li>
                                <li><a href='page-reset-password'>Reset password</a></li>
                                <li><a href='page-purchase-guide'>Purchase Guide</a></li>
                                <li><a href='page-privacy-policy'>Privacy Policy</a></li>
                                <li><a href='page-terms'>Terms of Service</a></li>
                                <li><a href='page-404'>404 Page</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                <div class="single-mobile-header-info">
                    <a href='page-contact'><i class="fi-rs-marker"></i> Our location </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href='page-login'><i class="fi-rs-user"></i>Log In / Sign Up </a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Follow Us</h6>
                <a href="#"><img src="imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                <a href="#"><img src="imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
            </div>
            <div class="site-copyright">Copyright 2024 © Nest. All rights reserved. Powered by AliThemes.</div>
        </div>
    </div>
</div>